body {
    font-family:Arial, Helvetica, sans-serif;
}

.image {
    height: auto;
    width: auto;
}

.description {
    background-color: yellow;
}

ul {
    background-color: pink;
}

ol {
    background-color:  lightblue;
}